p {
  text-align: center;
  font-size: 50px;
}

.title {
  font-size: 100px;
  padding: 100px;
}

#accountLinks, #catalogLink {
  padding: 50px;
}


.toplinks, .toplink {
  font-size: 25px;
  padding: 50px;
}

.desc, .ratings {
  padding: 50px;
}

.reviewSubmission {
  
}
