{% extends "layout.html" %}


{% block heading %}
  Book Talks
{% endblock %}


{% block body %}
<div class="title">

  <h3>Welcome to the best place to review and discuss books!</h3>

</div>


{% if logedin=='True' %}

<div id="accountLinks">

  <p>You are currently logged in. Click <a href="logout" class="link">here</a> to log out.</p>

</div>

{% else %}

<div id="accountLinks">

  <p>Don't have an account? Sign up <a href="signup" class="link">here</a>.</p>

  <p>Already a registered user? Log in <a href="login" class="link">here</a>.</p>

</div>

{% endif %}

<div id="catalogLink">

  <p>Check out our catalog full of thousands of books!</p>
  <p><a href="catalog" class="link">Catalog</a></p>

</div>
{% endblock %}
