{% extends "layout.html" %}


{% block heading %}
  Create a New Account
{% endblock %}


{% block body %}

  {% if unsuccessful==True %}
  <div class="alert alert-danger" role="alert">
    Sorry, the username you chose is already taken.
  </div>
  {% endif %}


  <p>To create a new account, please entire your desired username and password in the forms below.</p>

  <div id="signup">

    <form action="{{ url_for('registered') }}" method="post">

      <input type="text" name="username" placeholder="Username">

      <input type="password" name="password" placeholder="Password">

      <button>Create New Account</button>

    </form>

  </div>

{% endblock %}
